body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 58.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 0 0;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 0 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_header10OverlayMenu
{
   position: relative;
}
#wb_header10OverlayMenu
{
   margin: 0;
}
#header10OverlayMenu
{
   background-color: #0D6EFD;
   background-image: none;
   border: 0px solid #0D6EFD;
   border-radius: 0px;
}
#header10OverlayMenu:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border-color: #0A58CA;
}
#header10OverlayMenu
{
   display: block;
   width: 48px;
   height: 48px;
   position: relative;
   overflow: hidden;
}
#header10OverlayMenu .line
{
   width: 26px;
   height: 5px;
   background: #FFFFFF;
   display: block;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
}
#header10OverlayMenu .line:first-child
{
   margin-top: 11px;
}
#header10OverlayMenu.open .line
{
   transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
}
#header10OverlayMenu.open .line:nth-child(1)
{
   margin-top: 21px;
   transform: rotate(225deg);
}
#header10OverlayMenu.open .line:nth-child(2)
{
   opacity: 0;
}
#header10OverlayMenu.open .line:nth-child(3)
{
   margin-top: -20px;
   transform: rotate(135deg);
}
#header10OverlayMenu-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#header10OverlayMenu-close:before, #header10OverlayMenu-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#header10OverlayMenu-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#header10OverlayMenu-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#header10OverlayMenu-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#header10OverlayMenu-close:after
{
   bottom: 50%;
   opacity: 0;
}
#header10OverlayMenu-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#header10OverlayMenu-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#header10OverlayMenu-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(13,110,253,0.87);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
#header10OverlayMenu-overlay ul
{
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 32px;
   text-decoration: none;
   text-transform: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
.header10OverlayMenu
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   width: 100%;
   max-width: 480px;
}
.header10OverlayMenu a
{
   text-decoration: none;
}
.header10OverlayMenu ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.header10OverlayMenu li
{
   position: relative;
}
.header10OverlayMenu li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.header10OverlayMenu li a:hover
{
   color: #FFFFFF;
   background-color: #0B5ED7;
}
#header10OverlayMenu-overlay
{
   opacity: 0;
   visibility: hidden;
  transform: translateX(50px) translateY(50px);
  transition: opacity 400ms, transform 400ms, visibility 0s 400ms;
}
#header10OverlayMenu-overlay.show
{
   opacity: 1;
   visibility: visible;
   transform: translateX(0px) translateY(0px);
   transition: opacity 400ms, transform 400ms;
}
#header10OverlayMenu-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#header10OverlayMenu-social
{
   padding: 40px 0 0 0;
}
#header10OverlayMenu-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #0D6EFD;
   display: inline-block;
   font-size: 32px;
   margin: 0 .5em;
   padding: 12px;
   transition: all .2s linear 0s;
   width: 32px;
}
#header10OverlayMenu-social .social-icon:hover 
{
   background-color: #FFFFFF;
   color: #0B5ED7;
}
.header10OverlayMenu-effect
{
   transition: all 500ms linear;
}
#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Carousel1
{
   height: 610px;
}
#Carousel1
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   perspective: 1200px;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#Carousel1 .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#Carousel1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
   transition: opacity 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#Carousel1 .carousel-item-inner
{
   padding: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner > .carousel-item > img, #Carousel1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#Carousel1 .carousel-inner > .active, #Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#Carousel1 .carousel-inner > .active
{
   animation: Carousel1-animation-show 500ms ease 0ms both;
   transform-origin: 50% 0%;
}
#Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#Carousel1 .carousel-inner > .carousel-item-next.carousel-item-start, #Carousel1 .carousel-inner > .carousel-item-prev.carousel-item-end
{
   animation: Carousel1-animation-show 500ms ease 0ms both;
   transform-origin: 50% 0%;
}
#Carousel1 .carousel-inner > .active.carousel-item-start, #Carousel1 .carousel-inner > .active.carousel-item-end
{
   animation: Carousel1-animation-hide 500ms ease both;
   z-index: 999;
   transform-origin: 50% 100%;
}
#Carousel1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -28px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#Carousel1 .carousel-indicators li
{
   display: block;
   float: left;
   margin: 6px 6px 6px 6px;
   width: 15px;
   height: 15px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: rgba(196,26,32,1.00);
   transition: transform 0.3s ease, background-color 0.3s ease;
}
#Carousel1 .carousel-indicators .active
{
   background-color: rgba(255,255,255,1.00);
   transform: scale(1.5);
}
#Carousel1 .carousel-indicators li:hover
{
   background-color: rgba(255,255,255,1.00);
}
#Carousel1 .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 4%;
   text-align: center;
   opacity: 0.5;
   cursor: pointer;
   z-index: 7776;
}
#Carousel1 .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#Carousel1 .carousel-control .carousel-control-prev-icon, #Carousel1 .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 30px;
   height: 30px;
   z-index: 5;
}
#Carousel1 .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   float: left;
   height: 610px;
}
#Carousel1 .carousel-control-next, #Carousel1 .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#Carousel1 .carousel-control-next-icon, #Carousel1 .carousel-control-prev-icon
{
   display: inline-block;
   width: 30px;
   height: 30px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#Carousel1 .carousel-control-next:hover, #Carousel1 .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#Carousel1 .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23C41A20%22%20viewBox%3d%220%200%20120%20120%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M14%2054%20C12%2056%2c%2011%2058%2c%2011%2060%20L11%2060%20L11%2060%20C11%2062%2c%2012%2063%2c%2014%2065%20L51%20102%20L51%20102%20C53%20104%2c%2054%20105%2c%2056%20105%20C59%20105%2c%2060%20104%2c%2062%20102%20C63%20101%2c%2064%2099%2c%2064%2097%20C64%2095%2c%2063%2093%2c%2062%2092%20L30%2060%20L30%2060%20L62%2027%20L62%2027%20C63%2026%2c%2064%2024%2c%2064%2022%20C64%2020%2c%2063%2018%2c%2062%2017%20C60%2015%2c%2059%2015%2c%2056%2015%20C54%2015%2c%2053%2015%2c%2051%2017%20L14%2054Z%20%20M96%2017%20L59%2054%20L96%2017%20L59%2054%20C57%2056%2c%2056%2058%2c%2056%2060%20C56%2062%2c%2057%2063%2c%2059%2065%20L96%20102%20L96%20102%20C98%20104%2c%2099%20105%2c%20101%20105%20C104%20105%2c%20105%20104%2c%20107%20102%20C108%20101%2c%20109%2099%2c%20109%2097%20C109%2095%2c%20108%2093%2c%20107%2092%20L75%2060%20L75%2060%20L107%2027%20L107%2027%20C108%2026%2c%20109%2024%2c%20109%2022%20C109%2020%2c%20108%2018%2c%20107%2017%20C105%2015%2c%20104%2015%2c%20101%2015%20C99%2015%2c%2098%2015%2c%2096%2017%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control:hover .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23DEE2E6%22%20viewBox%3d%220%200%20120%20120%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M14%2054%20C12%2056%2c%2011%2058%2c%2011%2060%20L11%2060%20L11%2060%20C11%2062%2c%2012%2063%2c%2014%2065%20L51%20102%20L51%20102%20C53%20104%2c%2054%20105%2c%2056%20105%20C59%20105%2c%2060%20104%2c%2062%20102%20C63%20101%2c%2064%2099%2c%2064%2097%20C64%2095%2c%2063%2093%2c%2062%2092%20L30%2060%20L30%2060%20L62%2027%20L62%2027%20C63%2026%2c%2064%2024%2c%2064%2022%20C64%2020%2c%2063%2018%2c%2062%2017%20C60%2015%2c%2059%2015%2c%2056%2015%20C54%2015%2c%2053%2015%2c%2051%2017%20L14%2054Z%20%20M96%2017%20L59%2054%20L96%2017%20L59%2054%20C57%2056%2c%2056%2058%2c%2056%2060%20C56%2062%2c%2057%2063%2c%2059%2065%20L96%20102%20L96%20102%20C98%20104%2c%2099%20105%2c%20101%20105%20C104%20105%2c%20105%20104%2c%20107%20102%20C108%20101%2c%20109%2099%2c%20109%2097%20C109%2095%2c%20108%2093%2c%20107%2092%20L75%2060%20L75%2060%20L107%2027%20L107%2027%20C108%2026%2c%20109%2024%2c%20109%2022%20C109%2020%2c%20108%2018%2c%20107%2017%20C105%2015%2c%20104%2015%2c%20101%2015%20C99%2015%2c%2098%2015%2c%2096%2017%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23C41A20%22%20viewBox%3d%220%200%20120%20120%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M107%2065%20C109%2063%2c%20109%2062%2c%20109%2060%20L109%2060%20L109%2060%20C109%2058%2c%20109%2056%2c%20107%2054%20L70%2017%20L70%2017%20C68%2015%2c%2067%2015%2c%2064%2015%20C62%2015%2c%2061%2015%2c%2059%2017%20C58%2018%2c%2057%2020%2c%2057%2022%20C57%2024%2c%2058%2026%2c%2059%2027%20L91%2060%20L91%2060%20L59%2092%20L59%2092%20C58%2093%2c%2057%2095%2c%2057%2097%20C57%2099%2c%2058%20101%2c%2059%20102%20C61%20104%2c%2062%20105%2c%2064%20105%20C67%20105%2c%2068%20104%2c%2070%20102%20L107%2065Z%20%20M25%20102%20L62%2065%20L25%20102%20L62%2065%20C64%2063%2c%2064%2062%2c%2064%2060%20C64%2058%2c%2064%2056%2c%2062%2054%20L25%2017%20L25%2017%20C23%2015%2c%2022%2015%2c%2019%2015%20C17%2015%2c%2016%2015%2c%2014%2017%20C13%2018%2c%2012%2020%2c%2012%2022%20C12%2024%2c%2013%2026%2c%2014%2027%20L46%2060%20L46%2060%20L14%2092%20L14%2092%20C13%2093%2c%2012%2095%2c%2012%2097%20C12%2099%2c%2013%20101%2c%2014%20102%20C16%20104%2c%2017%20105%2c%2019%20105%20C22%20105%2c%2023%20104%2c%2025%20102%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control:hover .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23DEE2E6%22%20viewBox%3d%220%200%20120%20120%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M107%2065%20C109%2063%2c%20109%2062%2c%20109%2060%20L109%2060%20L109%2060%20C109%2058%2c%20109%2056%2c%20107%2054%20L70%2017%20L70%2017%20C68%2015%2c%2067%2015%2c%2064%2015%20C62%2015%2c%2061%2015%2c%2059%2017%20C58%2018%2c%2057%2020%2c%2057%2022%20C57%2024%2c%2058%2026%2c%2059%2027%20L91%2060%20L91%2060%20L59%2092%20L59%2092%20C58%2093%2c%2057%2095%2c%2057%2097%20C57%2099%2c%2058%20101%2c%2059%20102%20C61%20104%2c%2062%20105%2c%2064%20105%20C67%20105%2c%2068%20104%2c%2070%20102%20L107%2065Z%20%20M25%20102%20L62%2065%20L25%20102%20L62%2065%20C64%2063%2c%2064%2062%2c%2064%2060%20C64%2058%2c%2064%2056%2c%2062%2054%20L25%2017%20L25%2017%20C23%2015%2c%2022%2015%2c%2019%2015%20C17%2015%2c%2016%2015%2c%2014%2017%20C13%2018%2c%2012%2020%2c%2012%2022%20C12%2024%2c%2013%2026%2c%2014%2027%20L46%2060%20L46%2060%20L14%2092%20L14%2092%20C13%2093%2c%2012%2095%2c%2012%2097%20C12%2099%2c%2013%20101%2c%2014%20102%20C16%20104%2c%2017%20105%2c%2019%20105%20C22%20105%2c%2023%20104%2c%2025%20102%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('images/نجار-بجده-scaled.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('images/مشروع-ورشة-نجارة-خشب.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
}
@keyframes Carousel1-animation-show
{
   0%   { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
   50%  { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
   100% { }
}
@keyframes Carousel1-animation-hide
{
   0%   { }
   50%  { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
   100% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 108px;
   height: 114px;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: inline-block;
   margin: 0;
   width: 372px;
   height: 38px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 0 0;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 114px;
   height: 114px;
   vertical-align: top;
}
#Button1
{
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   box-shadow: 5px 3px 2px #000000;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text3 
{
   background-color: rgba(0,0,139,0.60);
   background-image: none;
   border: 0px solid #000000;
   border-radius: 10px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 15px 0 0 0 ;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card1-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card1-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 32px;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card2-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card2-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 32px;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card3-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card3-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card3-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 32px;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card4-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card4-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 32px;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 15px 0 0 0 ;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 15px 0 0 0 ;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 324px;
   height: 343px;
   vertical-align: top;
}
#wb_footer2LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #222222;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer2LayoutGrid
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer2LayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer2LayoutGrid > .row > .col-1, #footer2LayoutGrid > .row > .col-2, #footer2LayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer2LayoutGrid > .row > .col-1, #footer2LayoutGrid > .row > .col-2, #footer2LayoutGrid > .row > .col-3
{
   float: left;
}
#footer2LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#footer2LayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#footer2LayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#footer2LayoutGrid:before,
#footer2LayoutGrid:after,
#footer2LayoutGrid .row:before,
#footer2LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#footer2LayoutGrid:after,
#footer2LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#footer2LayoutGrid > .row > .col-1, #footer2LayoutGrid > .row > .col-2, #footer2LayoutGrid > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_footer2CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 0 30px 0 ;
   text-align: left;
   position: relative;
   z-index: 1111 !important;
}
#wb_footer2CssMenu1::after
{
   content: "";
   display: table;
clear: both;
}
#wb_footer2CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_footer2CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_footer2CssMenu1 a
{
   display: block;
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_footer2CssMenu1 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_footer2CssMenu1 li:hover a, #wb_footer2CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footer2CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_footer2CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_footer2CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footer2CssMenu2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 0 30px 0 ;
   text-align: left;
   position: relative;
   z-index: 1111 !important;
}
#wb_footer2CssMenu2::after
{
   content: "";
   display: table;
clear: both;
}
#wb_footer2CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_footer2CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_footer2CssMenu2 a
{
   display: block;
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_footer2CssMenu2 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_footer2CssMenu2 li:hover a, #wb_footer2CssMenu2 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footer2CssMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_footer2CssMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_footer2CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footer2CssMenu3
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 0 30px 0 ;
   text-align: left;
   position: relative;
   z-index: 1111 !important;
}
#wb_footer2CssMenu3::after
{
   content: "";
   display: table;
clear: both;
}
#wb_footer2CssMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_footer2CssMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_footer2CssMenu3 a
{
   display: block;
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
   vertical-align: middle;
}
#wb_footer2CssMenu3 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_footer2CssMenu3 li:hover a, #wb_footer2CssMenu3 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footer2CssMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_footer2CssMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_footer2CssMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footer2Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: left;
}
#footer2Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_footer2Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: left;
}
#footer2Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_footer2Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: left;
}
#footer2Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Card1
{
   display: flex;
   width: 100%;
   z-index: 7;
}
#wb_Image1
{
   display: inline-block;
   width: 108px;
   height: 114px;
   z-index: 0;
}
#wb_Card3
{
   display: flex;
   width: 100%;
   z-index: 9;
}
#Button1
{
   display: inline-block;
   width: 187px;
   height: 43px;
   z-index: 4;
}
#wb_Image2
{
   display: inline-block;
   width: 114px;
   height: 114px;
   z-index: 3;
}
#wb_Image3
{
   display: inline-block;
   width: 324px;
   height: 343px;
   z-index: 11;
}
#wb_Card2
{
   display: flex;
   width: 100%;
   z-index: 8;
}
#wb_footer2CssMenu3
{
   display: block;
   width: 100%;
   z-index: 17;
}
#wb_footer2CssMenu2
{
   display: block;
   width: 100%;
   z-index: 15;
}
#wb_footer2CssMenu1
{
   display: block;
   width: 100%;
   z-index: 13;
}
#wb_header10OverlayMenu
{
   display: inline-block;
   width: 48px;
   height: 48px;
   z-index: 2;
}
#wb_footer2Heading3
{
   display: block;
   width: 100%;
   z-index: 16;
}
#wb_footer2Heading2
{
   display: block;
   width: 100%;
   z-index: 14;
}
#wb_footer2Heading1
{
   display: block;
   width: 100%;
   z-index: 12;
}
#wb_Carousel1
{
}
#wb_Card4
{
   display: flex;
   width: 100%;
   z-index: 10;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 25%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2 > .col-2-padding
{
   width: 100%;
   padding: 40px 0 0 0;
}
#LayoutGrid1 > .row > .col-3
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3 > .col-3-padding
{
   width: 100%;
   padding: 25px 0 0 0;
}
#wb_header10OverlayMenu
{
   width: 48px;
   height: 48px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#header10OverlayMenu
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #0D6EFD;
   border-radius: 0px;
   width: 48px;
   height: 48px;
}
#header10OverlayMenu:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border-color: #0A58CA;
}
#header10OverlayMenu .line
{
   background: #C41A20;
}
#header10OverlayMenu:hover .line
{
   background: #FFA500;
}
#header10OverlayMenu .line
{
   top: 8px;
}
#header10OverlayMenu .line:first-child
{
   margin-top: 11px;
}
#header10OverlayMenu-overlay ul
{
   font-size: 32px;
   text-align: center;
}
#wb_Carousel1
{
   visibility: visible;
   display: block;
}
#Carousel1_back
{
   top: 45%;
}
#Carousel1_next
{
   top: 45%;
}
#wb_Carousel1
{
   margin: 0;
   height: 317px;
}
#Carousel1 .carousel-item-inner
{
   padding: 0;
}
#Carousel1 .carousel-control .carousel-control-prev-icon, #Carousel1 .carousel-control .carousel-control-next-icon
{
   width: 30px;
   height: 30px;
}
#wb_Image1
{
   width: 90px;
   height: 95px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image1
{
   width: 90px;
   height: 95px;
}
#wb_Text1
{
   width: 168px;
   height: 27px;
   visibility: visible;
   display: inline-block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 10px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   display: block;
   width: 50%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2 > .col-2-padding
{
   width: 100%;
   padding: 40px 10px 0 0;
}
#wb_Image2
{
   width: 114px;
   height: 114px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image2
{
   width: 114px;
   height: 114px;
}
#Button1
{
   width: 172px;
   height: 43px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   border: 1px solid #FFFFFF;
   border-radius: 10px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 10px 15px 10px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
   border-radius: 3px;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid4
{
   height: auto;
   margin-top: 20px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   height: auto;
   padding: 10px 15px 10px 15px;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Text3
{
   visibility: visible;
   display: block;
   border-radius: 3px;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: auto;
   margin-top: 15px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid5 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Card1
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card1-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card1-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card1
{
   text-align: center;
}
#wb_Card2
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card2-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card2-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card2
{
   text-align: center;
}
#wb_Card3
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card3-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card3-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card3-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card3
{
   text-align: center;
}
#wb_Card4
{
   width: 100%;
   visibility: visible;
   display: flex;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card4-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 25px 20px 20px 20px;
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #C41A20;
   background-image: none;
   color: #FFFFFF;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card4-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card4-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   color: #212529;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card4
{
   text-align: center;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid6
{
   height: auto;
   margin-top: 15px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#LayoutGrid6 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   height: auto;
   margin-top: 15px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Image3
{
   width: 219px;
   height: 232px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image3
{
   width: 219px;
   height: 232px;
}
#wb_footer2LayoutGrid
{
   visibility: visible;
   display: table;
}
#wb_footer2LayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#footer2LayoutGrid
{
   height: auto;
   padding: 75px 15px 75px 15px;
}
#footer2LayoutGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer2LayoutGrid > .row > .col-1, #footer2LayoutGrid > .row > .col-2, #footer2LayoutGrid > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#footer2LayoutGrid > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#footer2LayoutGrid > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#footer2LayoutGrid > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_footer2CssMenu1
{
   width: 100%;
   visibility: visible;
   display: inline-block;
   margin: 0 0 30px 0 ;
   text-align: left;
}
#wb_footer2CssMenu1 li
{
   width: 100%;
}
#wb_footer2CssMenu1 a
{
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
}
#wb_footer2CssMenu1 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_footer2CssMenu1 li:hover a, #wb_footer2CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footer2CssMenu1 li
{
   padding-bottom: 0px !important;
}
#wb_footer2CssMenu2
{
   width: 100%;
   visibility: visible;
   display: inline-block;
   margin: 0 0 30px 0 ;
   text-align: left;
}
#wb_footer2CssMenu2 li
{
   width: 100%;
}
#wb_footer2CssMenu2 a
{
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
}
#wb_footer2CssMenu2 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_footer2CssMenu2 li:hover a, #wb_footer2CssMenu2 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footer2CssMenu2 li
{
   padding-bottom: 0px !important;
}
#wb_footer2CssMenu3
{
   width: 100%;
   visibility: visible;
   display: inline-block;
   margin: 0 0 30px 0 ;
   text-align: left;
}
#wb_footer2CssMenu3 li
{
   width: 100%;
}
#wb_footer2CssMenu3 a
{
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: left;
}
#wb_footer2CssMenu3 > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0 0px 0px 0px;
   line-height: 25px;
}
#wb_footer2CssMenu3 li:hover a, #wb_footer2CssMenu3 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footer2CssMenu3 li
{
   padding-bottom: 0px !important;
}
#wb_footer2Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 20px 0;
}
#wb_footer2Heading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 20px 0;
}
#wb_footer2Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 20px 0;
}
}
